<div id="index-banner" class="parallax-container userParallax">
  <div class="section no-pad-bot">
    <div id="admin" class="adminpage">
      <div>
        <div class="row no-marign-bottom">
          <form name="adminForm" class="col s12" ng-submit="createCraft(craft)">
            <div class="s12 m4 l8">
              <h5 class="newCraft">Create New Craft</h5></div>
            <div class="row">
              <div class="input-field col s12">
                <i class="medium mdi-social-public prefix"></i>
                <input name="title" id="icon_prefix" type="text" ng-model="craft.title" class="validate">
                <label for="icon_prefix">Craft title</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="medium mdi-action-description prefix"></i>
                <textarea id="icon_prefix" class="materialize-textarea validate" ng-model="craft.description"></textarea>
                <label for="icon_prefix">Description</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="medium mdi-action-description prefix"></i>
                <input name="category" id="icon_prefix" type="text" ng-model="craft.category" class="validate">
                <label for="icon_prefix">Category</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col l6 s6">
                <i class="medium mdi-action-description prefix"></i>
                <input name="smartererlink" id="icon_prefix" type="text" ng-model="craft.smartererlink">
                <label for="icon_prefix">Smarterer Link</label>
              </div>
              <div class="input-field col l6 s6">
               <i class="medium mdi-action-description prefix"></i>
                <input name="smartererimgname" id="icon_preffix" type="text" ng-model="craft.smartererimagelink">
                <label for="icon_preffix">Smarterer Image link</label>
              </div>
            </div>
            <div class="row l12 center">
              <input type="file" ngf-select="true" accept="image/*" ng-model="craft.picture" ngf-change="fileSelected($files, $event)" class="validate">
              <label>Upload a picture of this craft</label>
            </div>
            <div class="row center no-margin-bottom">
              <div class="input-field col s12">
                <input id="create" type="submit" ng-disabled="adminForm.$invalid" value="Create" class="waves-effect waves-light btn-createCraft">
              </div>
            </div>
          </form>
          <div class="progress" ng-show="showProg">
              <div class="indeterminate"></div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>