<div id="index-banner" class="parallax-container userParallax">
  <div class="section no-pad-bot">
    <div id="admin" class="adminpage" style="margin-top: 4em;">
      <div>
        <div class="row no-marign-bottom">
          <form name="adminForm" class="col s12">
            <div class="s12 m4 l8">
              <h5 class="newCraft">Create New Craft</h5></div>
            <div class="row">
              <div class="input-field col s12">
                <i class="medium mdi-social-public prefix"></i>
                <input name="title" id="icon_prefix" type="text" ng-model="craft.title" class="validate">
                <label for="icon_prefix">Craft title</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="medium mdi-action-description prefix"></i>
                <input name="description" id="icon_prefix" type="text" ng-model="craft.description" class="validate">
                <label for="icon_prefix">Description</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="medium mdi-action-description prefix"></i>
                <input name="category" id="icon_prefix" type="text" ng-model="craft.category" class="validate">
                <label for="icon_prefix">Category</label>
              </div>
            </div>
            <div class="row l12 center">
              <input type="file" ngf-select="true" accept="image/*" ng-model="craft.picture" ngf-change="fileSelected($files, $event)" />
              <label>Upload a picture of this craft</label>
            </div>
            <div class="row center no-marign-bottom">
              <div class="input-field col s12">
                <input id="create" type="submit" ng-disabled="adminForm.$invalid" ng-click="createCraft(craft)" value="Create" class="waves-effect waves-light btn-createCraft">
              </div>
            </div>
            <div class="progress" ng-show="showProg">
                <div class="indeterminate"></div>
            </div>  
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
