<div id="slide-out" class="side-nav fixed">
  <div ng-include="'app/views/sidenav.view.html'"></div>
</div>
<!-- <div class="parallax-container valign-wrapper" style="min-height: 200px !important;padding-top: 2em !important;">
  <div class="section no-pad-bot">
    <div class="row center container">
      <h5 class="col s12 l10 light offset-l2">
          Apply to be an Expert of any Craft that you can coach others on.
        </h5> 
    </div>
  </div>
  <div class="parallax"><img src="assets/images/joshdrewpairing.jpg" alt="Unsplashed background img 2"></div>
</div> -->
<div class="row container offset-custom">
  <div class="col s12 l12">
    <ul class="collection">
      <li class="collection-item avatar" style="height: 8em" ng-repeat="item in allCrafts">
        <img ng-src="{{item.picture}}" alt="" class="circle">
        <span class="title">{{item.title}}</span>
        <p>{{item.description | limitTo: 30}}
        </p>
        <a ng-show="item.smartererlink" ng-href="//{{item.smartererlink}}" class="smarterer_test_link secondary-content"><img height="90" ng-src="//{{item.smartererimagelink}}" alt="" /></i></a>
        <a ng-hide="item.smartererlink" href="//smarterer.com/tests/technical-aptitude/run?wuid=ngjhngm1yt" class="smarterer_test_link secondary-content"><img height="90" src="//smarterer.com/images/test-widget/adu/rect/technical-aptitude.png" alt="" /></i></a>
      </li>
    </ul>
  </div>
</div>
<script type="text/javascript" src="//smarterer.com/js/popup.js"></script>