<div class="navbar-fixed">
  <!-- Dropdown Structure -->
  <ul id="user-menu" class="dropdown-content blue-text">
    <li><a ng-href="#/user/{{decodedToken.user._id}}">View Crafts</a></li>
    <li><a ng-href="#/user/{{decodedToken.user._id}}/dashboard">Dashboard</a></li>
    <li><a ng-href="#/edit/user/{{decodedToken.user._id}}">Edit Profile</a></li>
    <li class="divider"></li>
    <li><a ng-click="logout()">Log Out</a></li>
  </ul>
  <nav role="navigation" ng-controller="NavCtrl">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right header-links hide-on-med-and-down">
        <li><a href="#/crafts">Browse Crafts</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#/signup">Pair with an Expert</a></li>
        <a ng-hide="isLoggedIn" href="#/login" class="btn blue-grey darken-1">Login</a>
      </ul>
       <ul class="side-nav" id="mobile-demo">
        <li><a href="#/crafts">Browse Crafts</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#/signup">Pair with an Expert</a></li>
      </ul>
        <!--<li><a ng-hide="isLoggedIn" href="#/login" class="btn blue-grey darken-1">Login</a></li>-->
        <!--<div ng-show="isLoggedIn" style="display: inline;">
          <li>
            <span style="display: inline-block;">Welcome {{decodedToken.user.firstname}}</span>
          </li>
          <li>
            <img ng-hide="decodedToken.user.picture" ng-src="../assets/images/UserImage.png" alt="" class="nav-user circle responsive-img">
            <img ng-show="decodedToken.user.picture" ng-src="{{decodedToken.user.picture}}" alt="" class="nav-user circle responsive-img">
          </li>
          <li>
            <a class="dropdown-button" href="#!" data-activates="user-menu">
              <i class="mdi-navigation-more-vert"></i>
            </a>
          </li>
        </div>-->
      <!--<ul id="nav-mobile" class="side-nav">
        <li><a ng-hide="hideFeatures" href="#features">Features</a></li>
        <li><a ng-hide="isLoggedIn" href="#/signup">Pair with an Expert</a></li>
        <li><a ng-hide="isLoggedIn" href="#/login">Login</a></li>
        <div ng-show="isLoggedIn">
          <li>
            <a class="center" ng-show="isLoggedIn">
              <span>{{decodedToken.user.firstname}}</span>
            </a>
          </li>
          <li>
            <center>
              <img ng-hide="decodedToken.user.picture" ng-src="../assets/images/UserImage.png" alt="" class="nav-user circle responsive-img">
              <img ng-show="decodedToken.user.picture" ng-src="{{decodedToken.user.picture}}" alt="" class="nav-user circle responsive-img">
            </center>
          </li>
          <div class="divider"></div>
          <li><a ng-href="#/user/{{decodedToken.user._id}}">View Crafts</a></li>
          <li><a ng-href="#/user/{{decodedToken.user._id}}/dashboard">Dashboard</a></li>
          <li><a ng-href="#/edit/user/{{decodedToken.user._id}}">Edit Profile</a></li>
          <li class="divider"></li>
          <li><a href="#!">View all crafts</a></li>
          <li><a href="#!">Crafts learnt</a></li>
          <li><a href="#!">Connections</a></li>
          <li><a href="#!">Favorites</a></li>
          <li class="divider"></li>
          <li><a ng-click="logout()">Log Out</a></li>
          <li class="divider"></li>
        </div>
      </ul>-->
      <!--<ul id="nav-mobile">
        <li>Browse Crafts</li>
        <li>Features</li>
        <li>Pair with an expert</li>
      </ul>-->
    </div>
  </nav>
</div>
