<div class="navbar-fixed">
  <nav class="blue-grey darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#/" class="brand-logo">p2L</a>
      <ul class="right hide-on-med-and-down white-text">
        <li><a ng-show="{{location === '/home'}}" href="#features">Features</a></li>
        <li><a class="modal-trigger" href="#getStarted">Become an Expert</a></li>
        <li ng-hide="showWelcome">Welcome</li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#features">Features</a></li>
        <li><a class="modal-trigger" href="#getStarted">Become an Expert</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</div>