<div id="slide-out" class="side-nav fixed">
    <span class="quickAccess">Quick Access</strong></span>

  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><a href="#!">View all crafts</a></div>
    </li>
    <div class="divider"></div>
    <li>
      <div class="collapsible-header"><a>My crafts</a></div>
      <div class="collapsible-body"><p><a href="#">Completed crafts</a></p></div>
      <div class="collapsible-body"><p><a href="#">Ongoing crafts</a></p></div>
    </li>
    <div class="divider"></div>
    <li>
      <div class="collapsible-header"><a href="#!">My Wallet</a></div>
    </li>
    <div class="divider"></div>
    <li>
      <div class="collapsible-header"><a href="#!">Connections</a></div>
    </li>
    <div class="divider"></div>
    <li>
      <div class="collapsible-header"><a href="#!">Favorites</a></div>
    </li>
    <div class="divider"></div>
    <li>
      <div class="collapsible-header"><a href="#!">Wish List</a></div>
    </li>
    <div class="divider"></div>
  </ul>
</div>

<div class="parallax-container valign-wrapper" style="min-height: 100px !important;padding-top: 2em !important;">
  <div class="section no-pad-bot">
    <div class="row center container">
       <h4 class="col s12 l10 light offset-l2">
        Live Pairing Text Editor
        </h4>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/joshdrewpairing.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="row container offset-custom">
<div id="firepad"></div>
<div id="firepadcode"></div>
</div>
<script>
  var firepadRef = new Firebase('https://pairtolearn.firebaseio.com/');
  var codeMirror = CodeMirror(document.getElementById('firepad'), 
      { 
        lineWrapping: false 
      });
  var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
      { 
        richTextShortcuts: true,
        richTextToolbar: true, 
        userId: fdhhfd,
        defaultText: 'Type Live text here'
      });
  firepad.on('ready', function() {
  // Firepad is ready.
  
  });
</script>