<div id="slide-out" class="side-nav fixed">
    <span class="quickAccess">Quick Access</strong></span>

  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><a href="#!">View all crafts</a></div>
    </li>
    <div class="divider"></div>
    <li>
      <div class="collapsible-header"><a>My crafts</a></div>
      <div class="collapsible-body"><p><a href="#">Completed crafts</a></p></div>
      <div class="collapsible-body"><p><a href="#">Ongoing crafts</a></p></div>
    </li>
    <div class="divider"></div>
    <li>
      <div class="collapsible-header"><a href="#!">My Wallet</a></div>
    </li>
    <div class="divider"></div>
    <li>
      <div class="collapsible-header"><a href="#!">Connections</a></div>
    </li>
    <div class="divider"></div>
    <li>
      <div class="collapsible-header"><a href="#!">Favorites</a></div>
    </li>
    <div class="divider"></div>
    <li>
      <div class="collapsible-header"><a href="#!">Wish List</a></div>
    </li>
    <div class="divider"></div>
  </ul>
</div>

<div class="parallax-container valign-wrapper" style="min-height: 200px !important;padding-top: 2em !important;">
  <div class="section no-pad-bot">
    <div class="row center container">
       <h4 class="col s12 l10 light offset-l2">
          Ochu Kingsley Chigozie.
        </h4>
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="assets/images/images.jpeg">
      </div>
    </div>
</div>
  <div class="parallax"><img src="assets/images/joshdrewpairing.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="row container offset-custom">

</div>