/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*nav ul a,
nav .brand-logo {
  color: #fff;
}*/

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}
.parallax{
  /*background-image: url(assets/images/landing_bg1.jpg);*/
}

.parallax-container {
  min-height: 670px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  background-color: rgba(0, 0, 0, 0.85);
  padding-top: 10em
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

.btn-custom a {
  background-color: rgba(0, 5, 11, 0.39) !important;
  margin-top: 3em;
  border: 2px solid;
  border-radius: .5em;
    width: 18em;
}


.btn-custom a:hover {
  background-color: white !important;
  color: teal;
  border-color: black;
}

.btn-subscribe a {
  background-color: rgba(32, 134, 199, 1) !important;
  border: 2px solid;
  border-radius: .5em;
    width: 18em;
}

.btn-subscribe a:hover {
  background-color: white !important;
  color: teal;
  border-color: black;
}

.btn-custom2 a {
  margin-top: 3em;
  border-radius: 1em;
    width: 28em;
}

.btn-custom2 a:hover {
  background-color: white !important;
  color: teal;
  border-color: black;
}

.icon-custom {
  border: 2px solid;
  border-radius: 1em;
  padding: 0.2em;
}

.modal-header {
  padding: .5em;
  background-color: rgb(94, 94, 94);
  color: white;
  margin-top: 0em;
  padding-left: 3em;
  width: 100% !important;
  margin-bottom: 1.5em;
}

.modal-header a {
  color: white !important;
  text-transform: capitalize;
}

.tabs .indicator {
  background-color:  rgb(219, 219, 219) !important;
  height: 4px !important;
}

.guarantee {
  width: 15%;
  text-align: center;
  margin: 2em auto;
}

.btn-facebook {
  background-color: rgba(59, 89, 152, 0);
  height: 3em;
  width: 26em;
  padding: 0.8em;
  vertical-align: middle;
  color: white;
  border-radius: .5em;
  border: 2px solid black;
}

.btn-facebook:hover {
  background-color: #3B5998;
  height: 3em;
  width: 26em;
  padding: 0.8em;
  vertical-align: middle;
  color: white;
  border-radius: .5em;
  border: 0px solid black;
}

.btn-google {
  background-color: rgba(59, 89, 152, 0);
  height: 3em;
  width: 26em;
  padding: 0.8em;
  vertical-align: middle;
  color: white;
  border-radius: .5em;
  border: 2px solid black;
  margin: 1em;
}

.btn-google:hover {
  background-color: #DF4A32;
  height: 3em;
  width: 26em;
  padding: 0.8em;
  vertical-align: middle;
  color: white;
  border-radius: .5em;
  border: 0px solid black;
}

.btn-logo {
  float: left;
  padding-left: 0.2em;
  margin-top: -0.3em;
  font-size: 2em;
  font-weight: bolder;
}

.modal {
  background-image: url('http://www.ideasnw.com/images/background-city.jpg') !important;
  background-size: cover !important;
  width: 63% !important;
  max-height: 90% !important;
}

.modal-content {
  background-color: rgba(58, 56, 56, 0.86) !important;
}

.or {
  width: 7em;
  background-color: rgba(152, 151, 151, 1);
  margin-top: -0.9em;
}

.line {
  border-bottom: 2px solid rgba(255, 255, 255, 0.42);
}

.center-custom {
  margin: 0 auto;
}

.no-marign-bottom {
  margin-bottom: 0px !important;
}

.signin {
  margin-top: 0.5em;
  color: white;
}

.signin a {
  color:;
}

.side-nav.fixed {
  margin-top: 4.4em;
}


@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.offset-custom {
  margin-left: 20em !important;
  margin-top: 1em;
  /*padding: 0px .5em !important;*/
}
