/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/*nav ul a,
nav .brand-logo {
  color: #fff;
}*/

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}
.parallax{
  /*background-image: url(assets/images/landing_bg1.jpg);*/
}

.parallax-container {
  min-height: 670px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  background-color: rgba(0, 0, 0, 0.85);
  padding-top: 10em
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

.btn-custom a {
  background-color: rgba(0, 5, 11, 0.39) !important;
  margin-top: 3em;
  border: 2px solid;
  border-radius: .5em;
    width: 18em;
}


.btn-custom a:hover {
  background-color: white !important;
  color: teal;
  border-color: black;
}

.btn-custom2 a {
  margin-top: 3em;
  border-radius: 1em;
    width: 28em;
}

.btn-custom2 a:hover {
  background-color: white !important;
  color: teal;
  border-color: black;
}

.icon-custom {
  border: 2px solid;
  border-radius: 1em;
  padding: 0.2em;
}

.modal-header {
  padding: .5em;
  background-color: rgb(19, 83, 77);
  color: white;
  margin-top: 0em;
  padding-left: 3em;
}
