<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Pair to Learn</h1>
      <div class="row center">
        <h5 class="header col s12 light"style="line-height: 2em;">
          Learning has never been this easy, Pair with Experts to learn anything, <br>yes! anything...
        </h5>
      </div>
      <div class="row center btn-custom">
        <a href="#signUp" id="download-button" class="btn-large waves-effect waves-light modal-trigger">Get Started</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="assets/images/landing_bg.jpg"></div>
</div>


<div class="">
  <div class="section scrollspy" id="features">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text"><i class="mdi-image-healing icon-custom "></i></h2>
          <h5 class="center">Learn the Basics</h5>

          <p class="center light">We help you learn the basics by giving you access to a our repository of learning resources.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text"><i class="mdi-social-public icon-custom"></i></h2>
          <h5 class="center">Connect with an Expert</h5>

          <p class="center light">Our pool of erudite proffesionals are always eager to help you master your craft and guide you to self-dependency</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center teal-text"><i class="mdi-hardware-memory icon-custom"></i></h2>
          <h5 class="center">Build while Learning</h5>

          <p class="center light">We offer a platform where only <em>theories</em> are forbidden. Solve real life problems as you learn</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper  hide-on-med-and-down" style="min-height: 300px !important;padding-top: 2em !important;">
  <div class="section no-pad-bot">
    <div class="container">
       <br><br>
      <h2 class="header center white-text text-lighten-2">100% Satisfaction Guaranteed.</h2>
      <div class="row center">
        <h5 class="header col s12 light">If you're not satisfied, we will cheerily make it right or offer a 100% refund.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/joshdrewpairing.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-communication-live-help teal-text icon-custom"></i></h3>
        <div class="row center btn-custom2">
          <a href="#signUp" id="download-button" class="btn-large waves-effect waves-light modal-trigger">Get Instant Help from online expert NOW</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="signUp" class="modal">
  <div class="modal-header">
    <h5>Get started</h5>
  </div>
  <div class="modal-content">
    <div class="row center">
      <div>
        <a class="waves-effect waves-light btn-facebook"><span class="btn-logo"><img src="assets/images/facebook.svg"></span>Sign in with facebook</a>
      </div>
      <div>
        <a class="waves-effect waves-light btn-google"><span class="btn-logo"><img src="assets/images/google-plus.svg"></span>Sign in with google</a>
      </div>
    </div>
    <div class="line no-marign-bottom"></div>
    <div class="or row center no-marign-bottom">OR</div>
    <div class="row center no-marign-bottom">
      <form class="col l8 s12" style="margin: 0 16%;">
        <div class="row center no-marign-bottom">
          <div class="input-field col s6">
            <input id="firstname" type="text" class="validate">
            <label for="firstname">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="lastname" type="text" class="validate">
            <label for="lastname">Last Name</label>
          </div>
        </div>
        <div class="row center no-marign-bottom">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email Address</label>
          </div>
        </div>
        <div class="row center no-marign-bottom">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div> 
         <div class="row center no-marign-bottom">
          <div class="input-field col s12">
            <input id="signuop" type="submit" value="Sign Up" class="waves-effect waves-light btn-facebook">
          </div>
        </div> 
      </form>
    </div>
  </div>
</div>
