<div class="parallax-container valign-wrapper" style="min-height: 250px !important;padding-top: 2em !important;">
  <div class="section no-pad-bot">
    <div class="container">
       <br><br>
      <h2 class="header center white-text text-lighten-2">Congratulations!</h2>
      <div class="row center">
         <h5 class="col s12 light">
    Pay a token of <del>N</del>200.00/hr to get an expert help on any craft that you chooose.
  </h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="assets/images/joshdrewpairing.jpg" alt="Unsplashed background img 2"></div>
</div>
<div class="row guarantee">
  <img class="responsive-img" src="assets/images/guarantee.png">
</div>
<div class="row center btn-subscribe">
  <a href="#sorry" id="download-button" class="btn-large waves-effect waves-light modal-trigger">Subscribe Now</a>
</div>


<!-- Modal Structure -->
    <div id="sorry" class="modal">
      <div class="modal-header">
        <h5>Oops!</h5>
      </div>
      <div class="modal-content">
        <div class="row center">
          <p>
            This service is currently not available. We appreciate your interest in our service and you will be the first to know when the service is available.
          </p>
        </div>
      </div>
    </div>
